<ul class="nav nav-tabs">
    <li role="presentation" class="sectionButtons"><a id="categories">Manage categories</a></li>
    <li role="presentation" class="active sectionButtons"><a id="customers">Manage customers</a></li>
    <li role="presentation" class="sectionButtons"><a id="products">Manage products</a></li>
    <li role="presentation" class="sectionButtons"><a id="comments">Manage comments</a></li>
    <li role="presentation" class="sectionButtons"><a id="orders">Manage orders</a></li>
</ul>