#search {
    border: 2px;
    border: solid;
    color: mediumblue;
    margin-top: 20px;
    margin-right: 0;
    width: 256px;
    padding-bottom: 5px;
}
#mainLogo {
    width: 256px;
    height: 256px;
}
.search {
    width: 256px;
}
.searchField#name {
    height: 18px;
}
.searchField {
    height: 100px;
}
.SB {
    width: 256px;
    border: 0;
}
#SS {
    border: 0;
    position: relative;
    left: 100px;
}
#NSD {
    font-size: 12px;
}
#menu {
    position: absolute;
    top: 7px;
    left: 280px;
    height: 256px;
    width: 1000px;
    border: solid;
    border-color: red;
}
#menu p {
    margin-left: 43%;
    margin-top: 10%;
}
.itemsCollection {
    position: absolute;
    top: 320px;
    left: 280px;
    border: solid;
    border-color: lime;
    width: 1000px;
    background-color: #ffffff;
}
.gridItem {
    height: 200px;
    width: 200px;
    display: inline-block;
}
img#pic {
    height: 150px;
    width: 150px;
    position: relative;
    left: 15px;
}
#itemPrice {
    position: relative;
    top: -72px;
    left: 130px;
    color: lime;
}
#fullName {
    position: relative;
    top: -15px;
    left: 46px;
}
#selectedItem {
    position: absolute;
    top: 320px;
    left: 280px;
    border: solid;
    border-color: lime;
    width: 1000px;
    background-color: #ffffff;
    height: 400px;
}
#selectedImage{
    position: relative;
    left: 130px;
    width: 350px;
    height: 350px
}
#selectedName {
    position: relative;
    left: 343px;
    top: -28px;
    color: limegreen;
    font-size: 30px;
    font-style: italic;
}
#selectedMaker {
    position: relative;
    left: 367px;
    top: -146px;
    color: limegreen;
    font-size: 30px;
    font-style: italic;
}
#selectedPrice {
    position: relative;
    left: 157px;
    top: -152px;
    color: limegreen;
    font-size: 30px;
    font-style: italic;
}
#back {
    position: relative;
    top: -416px;
    left: -142px;
    height: 98px;
    width: 40px;
    border: 0
}
.login {
    position: absolute;
    top: 10px;
    left: 1300px;
}
#bin {
    position: absolute;
    top: 100px;
    left: 1300px;
    height: 150px;
    width: 200px;
    background-color: #d3d3d3;
}
#cart {
    height: 150px;
    width: 150px;
    position: relative;
    left: 32px;
}

#addToCart {
    position: relative;
    top: -296px;
    left: 859px;
    width: 140px;
    height: 50px;
    border: 0px;
    background-color: cornsilk;
}
#inCart {
    font-size: 28px;
    position: relative;
    top: -132px;
    left: 77px;
    color: darkgreen;
}
#binList {
    position: absolute;
    top: 250px;
    left: 1300px;
    height: 800px;
    width: 198px;
    border: solid 1px;
    color: lightcoral;
}

