<div id="search">
    <div class="search">
    <button class="SB" type="button" id="NS">Search by name</button>
    <div class="searchField hidden" style="display:none" id="name">
    </div>
    </div>
    <div class="search">
        <button class="SB"  type="button" id="GS">Search by category</button>
        <div class="searchField hidden" style="display:none" id="group">
        </div>
    </div>
    <div class="search">
        <button class="SB"  type="button" id="PS">Search by price</button>
        <div class="searchField hidden" style="display:none" id="price">
        </div>
    </div>
    <div class="search">
        <button class="SB"  type="button" id="MS">Search by producer</button>
        <div class="searchField hidden" style="display:none" id="maker">
        </div>
    </div>
    <button id="SS" type="button">Search</button>
</div>