<form action="/product/" method="post" enctype="multipart/form-data" id="addCategory">
    <label for="productImageInput">Image</label>
    <input id="productImageInput" type="file" name="image">
    <label for="productNameInput">Name</label>
    <input type="text" id="productNameInput" name="name" data-attr="name">
    <label for="productCategoryInput">Category</label>
    <input type="text" id="productCategoryInput" name="category" data-attr="category">
    <label for="productPriceInput">Price</label>
    <input type="number" id="productPriceInput" name="price" data-attr="price">
    <label for="productDescInput">Description</label>
    <input type="text" id="productDescInput" name="desc" data-attr="desc">
    <label for="productQuantityInput">Quantity</label>
    <input type="number" id="productQuantityInput" name="quantity" data-attr="quantity">
    <label for="productManufacturerInput">Manufacturer</label>
    <input type="text" id="productManufacturerInput" name="manufacturer" data-attr="manufacturer">
    <input type="submit" id="addButton" value="Submit">
    <button type="button" id="clearButton">Clear</button>
</form>